/* 
Small caps from capitals. 
All characters are small caps. 
*/
.concourse-c2sc {
    font-feature-settings: "c2sc" on;
}

/* 
Case-sensitive forms.
Caps font: Turns capital characters into small caps.
Text font: Turns lowercase characters into caps.
*/
.concourse-case {
    font-feature-settings: "case" on;
}

/* Denominators (for fractions) */
.concourse-dnom {
    font-feature-settings: "dnom" on;
}

/* Fractions */
@supports (font-variant-numeric: diagonal-fractions) {
    .concourse-frac {
        font-variant-numeric: diagonal-fractions;
    }
}

@supports not (font-variant-numeric: diagonal-fractions) {
    .concourse-frac {
        font-feature-settings: "frac" on;
    }
}

/* Numerators (for fractions) */
.concourse-numr {
    font-feature-settings: "numr" on;
}

/* 
Oldstyle figures 
Small caps for numeric figures only
*/
@supports (font-variant-numeric: oldstyle-nums) {
    .concourse-onum {
        font-variant-numeric: oldstyle-nums;
    }
}

@supports not (font-variant-numeric: oldstyle-nums) {
    .concourse-onum {
        font-feature-settings: "onum" on;
    }
}

/* 
Ordinals
1st, 2nd, 5th, etc. 
Superscripts for non-numeric figures.
MBType recommends avoiding these. 
*/
@supports (font-variant-numeric: ordinal) {
    .concourse-ordn {
        font-variant-numeric: ordinal;
    }
}

@supports not (font-variant-numeric: ordinal) {
    .concourse-ordn {
        font-feature-settings: "ordn" on;
    }
}

/* Scientific inferiors (numeric subscripts) */
.concourse-sinf {
    font-feature-settings: "sinf" on;
}

/* Eastern mode */
.concourse-ss01 {
    font-feature-settings: "ss01" on;
}

/* British mode */
.concourse-ss02 {
    font-feature-settings: "ss02" on;
}

/* French mode */
.concourse-ss03 {
    font-feature-settings: "ss03" on;
}

/* Swiss mode */
.concourse-ss04 {
    font-feature-settings: "ss04" on;
}

/* German mode */
.concourse-ss05 {
    font-feature-settings: "ss05" on;
}

/* Swedish mode */
.concourse-ss06 {
    font-feature-settings: "ss06" on;
}

/* Lowercase a alt */
.concourse-ss07 {
    font-feature-settings: "ss07" on;
}

/* Arrow glyphs in circles */
.concourse-ss08 {
    font-feature-settings: "ss08" on;
}

/* Unknown */
.concourse-ss10 {
    font-feature-settings: "ss10" on;
}

/* Subscript */
@supports (font-variant-position: sub) {
    .concourse-subs {
        font-variant-position: sub;
    }
}

@supports not (font-variant-position: sub) {
    .concourse-subs {
        font-feature-settings: "subs" on;
    }
}

/* Superscript */
@supports (font-variant-position: super) {
    .concourse-sups {
        font-variant-position: super;
    }
}

@supports not (font-variant-position: super) {
    .concourse-sups {
        font-feature-settings: "sups" on;
    }
}

/* 
Tabular figures. 
Equal-width numbers that line up across lines. 
Equivalent to T# fonts included with Concourse. 
*/
@supports (font-variant-numeric: tabular-nums) {
    .concourse-tnum {
        font-variant-numeric: tabular-nums;
    }
}

@supports not (font-variant-numeric: tabular-nums) {
    .concourse-tnum {
        font-feature-settings: "tnum" on;
    }
}
