// Reset
*:not(svg *) {
    all: unset;
    box-sizing: border-box;
    display: grid;
    transition: background-color 0.25s, transform 0.25s, opacity 0.25s, filter 0.25s;
}

head *,
style,
script,
source {
    display: none;
}

:root {
    font-family: Concourse;

    // Nord palette usage
    // https://www.nordtheme.com/docs/colors-and-palettes

    --dark-1: #2e3440;
    --dark-2: #3b4252;
    --dark-3: #434c5e;
    --dark-4: #4c566a;

    --light-1: #eceff4;
    --light-2: #e5e9f0;
    --light-3: #d8dee9;

    --frost-1: #8fbcbb;
    --frost-2: #88c0d0;
    --frost-3: #81a1c1;
    --frost-4: #5e81ac;

    --aurora-red: #bf616a;
    --aurora-orange: #d08770;
    --aurora-yellow: #ebcb8b;
    --aurora-green: #a3be8c;
    --aurora-purple: #b48ead;
}

@font-face {
    font-family: Concourse;
    src: url(/fonts/concourse_t2_regular.woff2);
    font-weight: 200;
}

@font-face {
    font-family: Concourse;
    src: url(/fonts/concourse_t3_regular.woff2);
    font-weight: 300;
}

@font-face {
    font-family: Concourse;
    src: url(/fonts/concourse_t4_regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Concourse;
    src: url(/fonts/concourse_t6_regular.woff2);
    font-weight: 600;
}

@font-face {
    font-family: Concourse;
    src: url(/fonts/concourse_t7_regular.woff2);
    font-weight: 700;
}

@font-face {
    font-family: Concourse;
    src: url(/fonts/concourse_t8_regular.woff2);
    font-weight: 800;
}

@font-face {
    font-family: Concourse;
    src: url(/fonts/concourse_t2_italic.woff2);
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: Concourse;
    src: url(/fonts/concourse_t3_italic.woff2);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: Concourse;
    src: url(/fonts/concourse_t4_italic.woff2);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: Concourse;
    src: url(/fonts/concourse_t6_italic.woff2);
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: Concourse;
    src: url(/fonts/concourse_t7_italic.woff2);
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: Concourse;
    src: url(/fonts/concourse_t8_italic.woff2);
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: Concourse Caps;
    src: url(/fonts/concourse_c2_regular.woff2);
    font-weight: 200;
}

@font-face {
    font-family: Concourse Caps;
    src: url(/fonts/concourse_c3_regular.woff2);
    font-weight: 300;
}

@font-face {
    font-family: Concourse Caps;
    src: url(/fonts/concourse_c4_regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Concourse Caps;
    src: url(/fonts/concourse_c6_regular.woff2);
    font-weight: 600;
}

@font-face {
    font-family: Concourse Caps;
    src: url(/fonts/concourse_c7_regular.woff2);
    font-weight: 700;
}

@font-face {
    font-family: Concourse Caps;
    src: url(/fonts/concourse_c8_regular.woff2);
    font-weight: 800;
}